.header-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 0px 0 0;
    padding: 20px;
    flex-grow: 1;
}

.header-container>div {
    align-content: stretch;
    flex-grow: 8;
    text-align: center;
}

.shop-text>a {
    align-content: stretch;
    color: #252525;
    flex-grow: 8;
    font-weight: bold;
    letter-spacing: 4px;
}

.btn-menu {
    display: none;
}

.menu ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8em;
    margin: 1.5em;
    margin-bottom: 2em;
}

.menu a {
    color: black;
    margin: 0px 3em;
}

.mens-outerwear {
    text-align: center;
    height: 30em;
}

.mens-outerwear-image {
    background-image: url(images/mens_outerwear.jpg);
    height: 20em;
    background-position: center;
}

h2 {
    color: #202020;
    font-size: 1.1em;
    font-weight: 500;
    margin: 32px 0;
}

.btn-shop-now {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0;
    padding: 8px 44px;
    text-align: center;
}

.ladies-outerwear {
    text-align: center;
    height: 30em;
}

.ladies-outerwear-image {
    background-image: url(images/ladies_outerwear.jpg);
    height: 20em;
    background-position: center;
}

.t-shirts {
    display: grid;
    grid: 30em / auto auto;
}

.mens-t-shirts {
    text-align: center;
    height: 30em;
}

.mens-t-shirts-image {
    background-image: url(images/mens_tshirts.jpg);
    height: 20em;
    background-position: center;
}

.ladies-t-shirts {
    text-align: center;
    height: 30em;
}

.ladies-t-shirts-image {
    background-image: url(images/ladies_tshirts.jpg);
    height: 20em;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
    .btn-menu {
        display: block;
    }
}