.header-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 0px 0 0;
    padding: 20px;
    flex-grow: 1;
}

.header-container>div {
    align-content: stretch;
    flex-grow: 8;
    text-align: center;
}

.shop-text>a {
    align-content: stretch;
    color: #252525;
    flex-grow: 8;
    font-weight: bold;
    letter-spacing: 4px;
}

.menu ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8em;
    margin: 1.5em;
    margin-bottom: 2em;
}

.menu a {
    color: black;
    margin: 0px 3em;
}

.page-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    opacity: 1;
    margin: 5em 0;
}

.outerwear-description {
    box-sizing: border-box;
    width: 100%;
    margin: 0 -20px;
    max-width: 600px;
}

.outerwear-description>h2 {
    margin-top: 0;
    color: #202020;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 500;
}

.page-container img {
    width: 35rem;
}

.outerwear-description>span {
    font-size: inherit;
    margin: 12px 0 32px;
}

.size-option-selection {
    margin-top: 3em;
    position: relative;
    border-top: 1px solid rgb(156, 154, 154);
    border-bottom: 1px solid rgb(156, 154, 154);
}

.size-option-selection>span {
    position: absolute;
    top: 1.2em;
}

.quality-option-selection {
    position: relative;
    border-bottom: 1px solid rgb(156, 154, 154);
}

.quality-option-selection>span {
    position: absolute;
    top: 1.2em;
}

.text {
    color: gray;
    font-size: 13px;
    max-width: 400px;
    line-height: 1.4em;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.size-list-option {
    padding: 0.9em 0;
    padding-left: 5em;
    padding-right: 17.5em;
    font-size: 1em;
    background-color: transparent;
    border: none;
}

.quantity-list-option {
    padding: 0.9em 0;
    padding-left: 5em;
    padding-right: 18.2em;
    font-size: 1em;
    background-color: transparent;
    border: none;
}

.description>h5 {
    font-family: 'Roboto', 'Noto', sans-serif;
    margin-top: 3em;
}

.add-to-cart-button {
    display: none;
}

.button-add-to-cart {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
    font-weight: 500;
    margin: 20px 0;
    padding: 8px 44px;
    text-align: center;
}

@media screen and (max-width: 860px) {
    .page-container img {
        width: 23rem;
    }
}

@media screen and (max-width: 767px) and (min-width: 451px) {
    .menu {
        display: none;
    }
    .page-container {
        grid-template-columns: auto;
        margin-top: 0;
        justify-content: center;
    }
    .page-container img {
        width: 100%;
    }
    .outerwear-description {
        margin: 20px 20px;
        padding-right: 0;
    }
    .outerwear-description>h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    .button-add-to-cart {
        display: none;
    }
    .add-to-cart-button {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 15px;
        width: 100%;
        color: #FFF;
        font-size: 15px;
        padding: 25px 0;
        background-color: #232753;
        text-align: center;
    }
    .text {
        max-width: 520px;
    }
    .quality-option-selection {
        max-width: 90%;
    }
    .size-option-selection {
        max-width: 90%;
    }
    .size-list-option {
        padding-right: 74%;
    }
    .quantity-list-option {
        padding-right: 77%;
    }
}

@media screen and (max-width: 450px) and (min-width: 321px) {
    .menu {
        display: none;
    }
    .page-container {
        grid-template-columns: auto;
        margin-top: 0;
    }
    .page-container img {
        width: 100%;
    }
    .outerwear-description {
        margin: 20px 20px;
        padding-right: 0;
    }
    .outerwear-description>h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    .button-add-to-cart {
        display: none;
    }
    .add-to-cart-button {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 15px;
        width: 100%;
        color: #FFF;
        font-size: 15px;
        padding: 25px 0;
        background-color: #232753;
        text-align: center;
    }
    .text {
        max-width: 90%;
    }
    .quality-option-selection {
        max-width: 90%;
    }
    .size-option-selection {
        max-width: 90%;
    }
    .size-list-option {
        padding-right: 65%;
    }
    .quantity-list-option {
        padding-right: 69%;
    }
}

@media screen and (max-width: 320px) {
    .menu {
        display: none;
    }
    .page-container {
        grid-template-columns: auto;
        text-align: center;
        margin-top: 0;
        margin-right: 0;
    }
    .page-container img {
        width: 90%;
    }
    .outerwear-description {
        text-align: left;
        margin: 20px 20px;
        padding-right: 0;
    }
    .outerwear-description>h2 {
        margin-top: 20px;
        font-size: 20px;
    }
    .button-add-to-cart {
        display: none;
    }
    .add-to-cart-button {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 15px;
        width: 100%;
        color: #FFF;
        font-size: 15px;
        padding: 25px 0;
        text-align: center;
    }
    .text {
        max-width: 90%;
    }
    .description>ul {
        max-width: 80%;
    }
    .quality-option-selection {
        max-width: 90%;
    }
    .size-option-selection {
        max-width: 90%;
    }
    .size-list-option {
        padding-right: 59%;
    }
    .quantity-list-option {
        padding-right: 64%;
    }
}